@model List<Category>
@{
    Layout = null;
}
<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Blog Listesi</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</td>
                <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-success">Güncelle</td>
                <td><a href="#" class="btn btn-warning">Blog Listesi</td>
            </tr>
        }
    </table>
    <a href="/Category/CreateCategory/" class="btn btn-primary">Yeni Kategori Girişi</a>
</div>